<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-between mt-3">
            <div class="col-md-6">
                <h1>Dashboard</h1>
            </div>
            <div class="col-md-2 text-right">
                <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <p>Welcome to the dashboard!</p>
                <!-- Add more dashboard content here -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="chart1"></div>
                <div id="chart2"></div>
                <div id="chart3"></div>
                <div id="chart4"></div>
            </div>
        </div>
    </div>
    <script>
        var graphs = [
            {{ graphJSON1 | safe }},
            {{ graphJSON2 | safe }},
            {{ graphJSON3 | safe }},
            {{ graphJSON4 | safe }}
        ];
        for (let i = 0; i < graphs.length; i++) {
            Plotly.plot('chart' + (i + 1), graphs[i], {});
        }
    </script>
</body>
</html>
